/* PanoramaSample.css */

.rwatkins-panorama {
  background-image: url("assets/PanoramaSample-background.png");
}

.title {
  font-size: 4em;
  color: white;
  white-space: nowrap;
}

.panel {
  padding-top: 100px; /* give some margin at top so it doesnt overlap the title */

  padding: 120px 20px 20px 20px;
  font-size: 3em;
  color: white;
  border: 1px solid #c0c0c0;
}