/* PanoramaSample.css */

.rwatkins-panorama {
}

.title {
  font-size: 6em;
  margin-left: 20px;
}

.panel {
  /* give some padding at top so it doesnt overlap the title */
  padding: 160px 20px 20px 20px;

  border: 1px solid #c0c0c0;
}

.panel div:first-child {
  font-size: 3em;
  padding-bottom: 20px;
}
